<h1> <%= @user.name %> </h1>

<%= link_to "Edit User", edit_user_path(@user) %>
<p> <%= button_to 'Delete this user', user_path(@user),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
</p>