<h1>Look at all these TV Shows!</h1>

<div class="movies_index">
  <% @tvshows.each do |tvshow| %>
  <div>
    <a href="<%= tvshow_path(tvshow) %>">
      <div>
        <h4><%= tvshow.name %></h4>
        <img
          src="https://image.tmdb.org/t/p/w500<%= tvshow.poster_path %>"
          alt="tvshow.name"
        />
      </div>
    </a>
  </div>
  <% end %>
</div>
